@layer base, util, components;

@import '@webtui/css';

/* Import AFTER webtui components */
@import '@webtui/theme-catppuccin';

@layer base {
  :root {
    --font-size: 18px;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-family: 'JetBrainsMono', monospace;
  }
}


  .header {
    display: flex;
    justify-content: space-between;
  }
  #content {
    padding: 0lh 1ch;
    padding-top: 1lh;
    display: flex;
    flex-direction: column;
    gap: 1lh;
  }
  #buttons {
    display: flex;
    justify-content: flex-end;
  }
  .ascii {
    white-space: pre;
    font-family: monospace;
  }

